# .gitignore
.env
.venv/
__pycache__/
*.pyc
db.sqlite3
media/
Backend/media/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

.locust_sessions.json
