[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
channels = "*"
channels-redis = "*"
celery = "*"
django-environ = "*"
daphne = "*"
redis = "*"
django-cors-headers = "*"
whitenoise = "*"
dj-database-url = "*"
cloudinary = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.13"
